header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0px -2px 1px #333;
}
header h1 {
  width: 100%;
  font-size: 5vh;
  text-align: center;
  color: #c92933;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020202;
  opacity: 0;
  color: #fff;
  transition: 0.5s linear;
}
aside.active {
  opacity: 1;
  z-index: 99;
}
aside ul {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #c92933;
  font-size: 10vw;
  text-shadow: 1px 1px 4px #fff;
}
aside ul li {
  margin-right: 2px;
  animation-delay: 0;
}
aside ul li:nth-of-type(6) {
  animation: flowAni linear infinite 0.7s;
  animation-delay: 0s;
}
aside ul li:nth-of-type(7) {
  animation: flowAni linear infinite 0.7s;
  animation-delay: 0.1s;
}
aside ul li:nth-of-type(8) {
  animation: flowAni linear infinite 0.7s;
  animation-delay: 0.2s;
}
aside ul li:nth-of-type(9) {
  animation: flowAni linear infinite 0.7s;
  animation-delay: 0.3s;
}
aside ul li:nth-of-type(10) {
  animation: flowAni linear infinite 0.7s;
  animation-delay: 0.4s;
}
aside .loadingText {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 9vw;
}

@keyframes flowAni {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}
.contentBox {
  width: 100%;
  height: 90vh;
  min-height: calc(740px - 10vh);
  padding: 0% 3% 5%;
}
.contentBox .contentInner {
  width: 100%;
  height: 100%;
}
.contentBox .contentInner .boothBoxWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  padding: 2.5% 7%;
  display: flex;
  border-bottom: 1px solid #333;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox:nth-of-type(2) {
  top: 25%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox:nth-of-type(3) {
  top: 50%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox:nth-of-type(4) {
  top: 75%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active {
  top: 0;
  height: 100%;
  padding: 2.5% 2.5%;
  display: block;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active .boothInner {
  width: 100%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active .boothInner .boothName {
  width: 100%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active .boothInner .intoConceptBtn {
  width: 100%;
  height: 17%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active .boothInner .intoConceptBtn .btnName {
  opacity: 0;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.active .boothImg {
  width: 100%;
  height: 60%;
  top: 10%;
}
.contentBox .contentInner .boothBoxWrapper .boothBox.fadeout {
  opacity: 0;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .boothName {
  width: 100%;
  font-size: 6vw;
  text-shadow: 0px 0px 10px #c92933;
  color: #fff;
  transition: 0.25s linear;
  display: flex;
  justify-content: space-between;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .boothName .backBtn {
  position: relative;
  opacity: 0;
  display: none;
  padding: 1% 3%;
  justify-content: center;
  align-items: center;
  color: #c92933;
  text-shadow: none;
  border: 1.5px solid #c92933;
  border-radius: 10px 0 10px 0;
  transition: 0.25s linear;
  z-index: 99;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn {
  position: relative;
  width: 60%;
  padding: 2% 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c92933;
  font-size: 6vw;
  border: 1.5px solid #c92933;
  border-radius: 10px 0 10px 0;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0;
  transition: 0.25s linear;
  display: none;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  display: flex;
  color: #fff;
  font-size: 4vw;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 23%;
  height: 100%;
  padding: 1% 0%;
  margin-right: 5%;
  border: 1.5px solid #fff;
  border-radius: 17px 0 17px 0;
  font-weight: bold;
  transition: 0.2s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem.active {
  border: 1.5px solid #c92933;
  color: #c92933;
  text-shadow: 0px 0px 10px #c92933;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem:nth-of-type(1) {
  transition-delay: 0s;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem:nth-of-type(2) {
  transition-delay: 0.2s;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem:nth-of-type(3) {
  font-size: 3.5vw;
  transition-delay: 0.4s;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .conceptListBox .conceptList .conceptItem:nth-of-type(4) {
  transition-delay: 0.6s;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .btnName {
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .boothExplain {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 3%;
  width: 100%;
  font-size: 4.4vw;
  color: rgb(218, 218, 218);
  letter-spacing: 1px;
  transition: 0.1s linear;
  opacity: 0;
  z-index: 1;
  background-color: #020202;
  border-radius: 10px 0 10px 0;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .boothExplain span {
  font-weight: bold;
  font-size: 4.5vw;
  text-shadow: 1px 1px 3px #fd0011;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.25s linear;
  z-index: 2;
  background-color: #020202;
  border-radius: 10px 0 10px 0;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox .filterList {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox .filterList .filterItem {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox .filterList .filterItem .circle {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.349);
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox .filterList .filterItem .filterName {
  color: #fff;
  font-size: 3vw;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothInner .intoConceptBtn .filterListBox .filterList .filterItem .filterName.active {
  color: #c92933;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg {
  position: absolute;
  top: 5%;
  right: 0;
  width: 40%;
  height: 90%;
  overflow: hidden;
  border-radius: 0 0 20px 0;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.13);
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg.active > img {
  opacity: 0;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg.active .conceptImgBox {
  opacity: 1;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(1.5);
  opacity: 1;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg .conceptImgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s linear;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg .conceptImgBox .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s linear all;
  z-index: 2;
  object-fit: cover;
  filter: saturate(1.5);
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg .conceptImgBox .filter.active {
  opacity: 0.3;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg .conceptImgBox .filter.active2 {
  opacity: 1;
}
.contentBox .contentInner .boothBoxWrapper .boothBox .boothImg .conceptImgBox img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(1.5);
  z-index: 1;
  transition: 0.2s linear;
}

/*# sourceMappingURL=main.css.map */
