.inner {
  width: 100%;
  height: 100%;
}
.p0 {
  position: absolute;
  top: 0;
  left: 0;
}
.ts {
  transition: .4s linear;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0px -2px 1px #333;

  h1 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #c92933;
  }

}

.content {
  width: 100%;
  height: 90vh;
  min-height: calc(740px - 10vh);
  padding: 0px 10px;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .cardBox {
      position: relative;
      width: 350px;
      height: 100%;

      .card {
        position: absolute;
        left: 0;
        width: 100%;
        height: 25%;
        padding: 10px 0px;
        box-shadow: inset 0 -1px 1px #333;
        overflow: hidden;

        &.fadeOut {
          opacity: 0;
        }

        &.showCon {
          opacity: 1;
          top: 0;
          height: 100%;

          .cardImg {
            top: 10%;
            width: 100%;
            height: 60%;
          }// cardImg

          .cardBtn {
            width: 100%;
            height: 20%;
          }

        }
        
        .inner {
          position: relative;
        }

        .cardName {
          position: absolute;
          top: 0;
          left: 0;
          width: 55%;
          height: 56px;

          h2 {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 35px;
            text-shadow: 0px 0px 10px #c92933;
            color: #fff;
          }
        }// cardName

        .cardImg {
          position: absolute;
          top: 0;
          right: 0;
          width: 40%;
          height: 100%;
          border-radius: 0 0 15px 0;
          overflow: hidden;

          .imgFilter {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            transition: .3s linear;
            z-index: 1;

            &.showFilter {
              opacity: 1;
            }

            figure {
              width: 100%;
              height: 100%;

              video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(-90deg);
              }
            }
          }

          .mainImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s linear;
            filter: saturate(1.5);

            &.closeImg {
              opacity: 0;
            }
          }
        }// cardImg

        .cardBtn {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30%;
          height: 40%;
          border-radius: 15px 0 15px 0;
          border: 3px solid #c92933;

          .btnName {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #c92933;
            font-size: 27px;
            opacity: 0;
            background-color: #020202;
            border-radius: 15px 0 15px 0;
            z-index: 3;

            &.showName {
              opacity: 1;
              z-index: 5;
            }
          }// btnName

          .cardExplain {
            width: 100%;
            height: 100%;
            padding: 10px;
            opacity: 0;
            color: #fff;
            font-size: 18px;
            background-color: #020202;
            border-radius: 15px 0 15px 0;
            z-index: 2;

            &.showEx {
              opacity: 1;
              z-index: 4;
            }

            span {
              text-shadow: 1px 1px 3px #fd0011;
              font-size: 19px;
            }
          }// cardExplain

          .conBtnBox {
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            opacity: 0;
            background-color: #020202;
            border-radius: 15px 0 15px 0;
            z-index: 1;

            &.showBtnBox {
              opacity: 1;
            }

            .conBtn {
              position: absolute;
              top: 0;
              width: 23%;
              height: 100%;
              border-radius: 15px 0 15px 0;
              border: 2px solid #fff;
              color: #fff;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              font-size: 17px;
              transition: .2s linear;
              opacity: 0;

              &.showConBtn {
                top: -60px;
                opacity: 1;
              }
              &.active {
               border-color: #c92933;
               color: #c92933; 
              }

              &:nth-of-type(1) {
                left: 0;
              }
              &:nth-of-type(2) {
                left: 25%;
              }
              &:nth-of-type(3) {
                font-size: 16px;
                left: 50%;
              }
              &:nth-of-type(4) {
                left: 75%;
              }
            }
          }// conBtnBox

          .conBox {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 3;
            opacity: 0;
            transition: .3s linear;

            &.showConBox {
              z-index: 4;
              opacity: 1;
            }
            
            .con {
              width: 25%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              &.active {

                .conName {
                  color: #c92933;
                }
              }

              .conCircle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }// conCircle

              .conName {
                height: 40px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 16px;
                color: #fff;
                transition: .3s linear;
              }// conName
            }// con
          }// conBox
        }// cardBtn

        .cardClose {
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          height: 52px;
          border-radius: 15px 0 15px 0;
          border: 3px solid #c92933;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c92933;
          font-size: 27px;
          opacity: 0;
          transition: .2s linear;

          &.showClose {
            opacity: 1;
          }
        }// cardClose
      } // card

      .bust {
        top: 0;
      }// bust

      .metal {
        top: 25%;
      }// metal

      .profile {
        top: 50%;
      }// profile

      .dyna {
        top: 75%;  
      }// dyna

    }// cardBox
  }// inner
}// content